VITE_SUPABASE_URL=https://uaymixmcuoaqgrpxqudy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVheW1peG1jdW9hcWdycHhxdWR5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM3MDE0NjAsImV4cCI6MjA2OTI3NzQ2MH0.wxw7zeTAwL5XAJnG4MV4_FukkNdK8ctnY889hyaTTQc 